<h1><%= @assignment.name %></h1>
<%= button_to "New Problem", new_assignment_problem_path(@assignment), :method => :get %>
<% @assignment.problems.each do |p| %>
<h2><%= link_to "Problem " + p.number.to_s, problem_path(@assignment, p) %></h2>
<% end %>