<div class="container">
	<div class="page-header">
		<h1><%= @assignment.name %></h1>
	</div>
	
	<div class="panel panel-success">
		<div class="panel-heading">
			<%= render :partial => "problems/problem_form", :locals => { assignment: @assignment,  problem: @problem } %>
		</div>
		<div class="panel-body" id="problems_panel">
			<%= render :partial => "problems/problem_list", :locals => { assignment: @assignment } %>
		</div>
	</div>
</div>