<div class="panel" id="source">
  <div class="panel-heading panel-heading-style text-center">
    <h2>Test Source</h2>
  </div>
  <div class="panel-body">
    <textarea id="codemirror-read"><%= problem.generated_source %></textarea>
  </div>
</div>
