<h1>New Problem</h1>
<%= form_for @problem, :url => { :action => 'create' } do |form| %>

  <p>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
  </p>

  <p class='buttons'>
    <%= form.submit "Create Problem" %>
  </p>

<% end %>