<% courses.each do |c| %>
	<div class="row">
		<div class="col-md-4">
			<h2><%= c.code %></h2>
		</div>
		<div class="col-md-4">
			<h2><%= c.name %></h2>
		</div>
		<div class="col-md-4">
			<%= button_to "Enter Course", course_path(c), class: "btn btn-success pull-right btn-lg", :method => :get %>
		</div>
	</div>
<% end %>
