<div class="page-header" style="margin-top: 0px;">
	<h1>Courses</h1>
</div>

<% if current_user %>
	<div class="panel">
		<div class="panel-heading panel-heading-style">
			<% if current_user.admin %>
				<%= render partial: "course_form", :locals => { course: @course} %>
			<% end %>
		</div>

		<div class="panel-body panel-body-style" id="courses_panel">
			<%= render partial: "course_list", :locals => { courses: @courses } %>
		</div>
	</div>
<% end %>
