<div class="page-header">
	<h1><%= @course.code + " - " + @course.name %></h1>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<%= render :partial => "assignments/assignment_form", :locals => { course: @course, assignment: @assignment } %>
	</div>
	<div class="panel-body" id="assignments_panel">
		<%= render :partial => "assignments/assignment_list", :locals => { course: @course } %>
	</div>
</div>
