<h1><%= @course.code + " - " + @course.name %></h1>
<%= button_to "New Assignment", new_course_assignment_path(@course), :method => :get %>
<% @course.assignments.each do |a| %>
<h2><%= link_to a.name, assignment_path(@course, a) %></h2>
<% end %>