<%= form_for [@problem, @test_case], :html => {class: "form-inline row"}, remote: true do |form| %>

  <div class="col-md-4">
    <%= form.text_field :input, class: "form-control input-lg", placeholder: "Input", id: "input-field"  %>
  </div>

  <div class="col-md-4">
    <%= form.text_field :output, class: "form-control input-lg", placeholder: "Ouput", id: "output-field"  %>
  </div>

  <div class="col-md-4">
    <%= form.submit "Create Test Case", class: "btn btn-white pull-right btn-lg" %>
  </div>

<% end %>
