$("#test_list").html('<%= escape_javascript(render :partial =>"test_cases/test_case_list", :locals => { problem: @problem }) %>');
$("#test_case_input").val('');
$("#test_case_output").val('');
$("#flash-container").html('<% flash.each do |key, value| %>\
 <div class="alert alert-<%= key %>"> <%= escape_javascript(value) %></div>\
 <% end %>');
 <% flash.discard %>
