/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 *= require codemirror
 */

 .CodeMirror {
   height: auto !important;
 }

span.glyphicon-large {
  font-size: 2em;
  margin-top: 15px;
}

.form-container{
	background-color:white;
	padding: 20px;
	border-radius: 3px;
	width:300px;
	margin: 0 auto;

}


.panel-btn {
  margin-left: 10px;
}

.login_button{
	font-family: Arial-black;
	width: 369px;
	height: 70px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: image-url('facebook_login_logo.png');
	background-size: 369px 70px;
	padding: 0px 0px 0px 0px;
	opacity: 0.9;
	border: none;
}

.col-md-6{
	border-right: 1px solid #f0f0f0;
}

.no_border{
	border-right: none ;
}

.login_button:hover{
	opacity: 1;
}

.banner{
	height: 400px;
	width: 100%;
	margin-top: 20px;
	background-color: #2E7D32;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 65px;
}

.login_body{

	background: url(https://uwaterloo.ca/math/sites/ca.math/files/uploads/images/campus-aerial-east-side.jpg);
}
