/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 *= require codemirror
 */

.CodeMirror {
   height: auto !important;
 }

span.glyphicon-large {
  font-size: 2em;
  margin-top: 15px;
}

.form-container {
	border: 1px dashed black;
	background: rgba(38, 38, 38, 0.87);
	padding: 20px;
	border-radius: 3px;
	width:300px;
	margin: 0 auto;

}

.navbar-brand-style {
  color: white !important;
  margin-top: 3px;
  font-size: 28px;
  font-weight: bold;
}

.nav-style {
  background-color: #0D47A1;
  border: none;
  border-radius: 0px;
  height: 60px;
  margin-bottom: 20px;
}

.navbar .nav > li > a {
  float: none;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

.nav-btn-style {
  margin-top: 12px;
  margin-right: 10px;
}

.panel-heading-style {
  background-color: #1565C0;
  color: white;
}

.btn-style {
  background-color: #0D47A1;
  color: white;
  margin-right: 5px;
}


.field{
	margin: 0 auto;
	width: 180px;
}

.link{
	width: 180px;
	margin: auto;
	margin-top: 20px;
}


.panel-btn {
  margin-left: 10px;
}

.login_button{
	font-family: Arial-black;
	width: 369px;
	height: 70px;
	display: block;
	position: relative;
	margin: auto;
	margin-top: 40px;
	background: image-url('facebook_login_logo.png');
	background-size: 369px 70px;
	padding: 0px 0px 0px 0px;
	opacity: 0.9;
	border: none;
}

.login_button:hover{
	opacity: 1;
}

.banner{
	width: 80%;
	background-color: rgba(255,255,255, 0.6);
	padding-top: 70px;
	padding-bottom: 70px;
	margin: auto;
	margin-top: 40px;
}

.login_body{
	background: image-url('bg.jpg');
	background-size: 100% 120%;
}
