// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn_std{
	margin-left: 20px;
	margin-top: 20px;
}
/*
.row{
	border-bottom: 1px solid #428BCA;
}

.row:last-child{
	border-bottom: none;
}
*/
